x64/
.vs/
debug.log
*.docx
*x64/
*.bmp

src\Estimator\x64\Debug\Estimator.obj 
src\Estimator\x64\Release\Estimator.obj 
src\Feature\x64\Release\FeatureMatcher.obj 
src\Geometry\x64\Debug\EssentialMatrix.obj 
src\Geometry\x64\Debug\Pose.obj 
src\Geometry\x64\Debug\Triangulation.obj 
src\Geometry\x64\Release\EssentialMatrix.obj 
src\Geometry\x64\Release\HomographyMatrix.obj 
src\Geometry\x64\Release\Pose.obj 
src\Geometry\x64\Release\Triangulation.obj 
src\Scene\x64\Release\Database.obj 
src\Scene\x64\Release\Model.obj 
src\Scene\x64\Release\TwoViewGeometry.obj 
Test\TestBase\x64\Debug\TestBase.ilk 
Test\TestBase\x64\Debug\TestBase.obj 
Test\TestBase\x64\Debug\vc143.pdb 
Test\TestBase\x64\Release\TestBase.iobj 
Test\TestBase\x64\Release\TestBase.ipdb 
Test\TestBase\x64\Release\TestBase.obj 
Test\TestBase\x64\Release\vc143.pdb 
Test\TestEstimator\x64\Debug\TestEstimator.ilk 
Test\TestEstimator\x64\Debug\TestEstimator.obj 
Test\TestEstimator\x64\Debug\vc143.pdb 
Test\TestEstimator\x64\Release\TestEstimator.iobj 
Test\TestEstimator\x64\Release\TestEstimator.ipdb 
Test\TestFeature\10GPUTwoViewGeometry.bmp 
Test\TestFeature\1111.bmp 
Test\TestFeature\11GuideMatch_GPU.bmp 
Test\TestFeature\1OpenCV_CPU_3819.bmp 
Test\TestFeature\2VLFeat_CPU_6996.bmp 
Test\TestFeature\3Colmap_CPU_8700.bmp 
Test\TestFeature\4SIFTGPU_GPU_453.bmp 
Test\TestFeature\5Colmap_GPU_720.bmp 
Test\TestFeature\6matches.bmp 
Test\TestFeature\7twoViewGeometry.bmp 
Test\TestFeature\8guideMatch.bmp 
Test\TestFeature\9gpuMatch.bmp 
Test\TestFeature\output.bmp 
Test\TestFeature\x64\Debug\TestFeature.ilk 
Test\TestFeature\x64\Release\TestFeature.iobj 
Test\TestFeature\x64\Release\TestFeature.obj 
Test\TestGeometry\x64\Debug\TestGeometry.ilk 
Test\TestGeometry\x64\Debug\TestGeometry.obj 
Test\TestGeometry\x64\Debug\vc143.pdb 
Test\TestScene\x64\Debug\TestScene.ilk 
Test\TestScene\x64\Release\TestScene.iobj 
Test\TestScene\x64\Release\TestScene.ipdb 
Test\TestUI\x64\Debug\vc143.pdb 
Test\TestWorkflow\12.bmp 
Test\TestWorkflow\34.bmp 
Test\TestWorkflow\35.bmp 
Test\TestWorkflow\45.bmp 
Test\TestWorkflow\x64\Debug\TestWorkflow.ilk 
Test\TestWorkflow\x64\Release\TestWorkflow.iobj 
Test\TestWorkflow\x64\Release\TestWorkflow.ipdb 
x64\Debug\Base.lib 
x64\Debug\Estimator.lib 
x64\Debug\Estimator.pdb 
x64\Debug\Feature.lib 
x64\Debug\Feature.pdb 
x64\Debug\Geometry.lib 
x64\Debug\Geometry.pdb 
x64\Debug\mkl_avx.2.dll 
x64\Debug\mkl_avx2.2.dll 
x64\Debug\mkl_avx512.2.dll 
x64\Debug\mkl_core.2.dll 
x64\Debug\mkl_def.2.dll 
x64\Debug\mkl_intel_thread.2.dll 
x64\Debug\mkl_mc.2.dll 
x64\Debug\mkl_mc3.2.dll 
x64\Debug\mkl_pgi_thread.2.dll 
x64\Debug\mkl_rt.2.dll 
x64\Debug\mkl_sequential.2.dll 
x64\Debug\mkl_sycl.3.dll 
x64\Debug\mkl_sycld.3.dll 
x64\Debug\mkl_tbb_thread.2.dll 
x64\Debug\mkl_tbb_threadd.2.dll 
x64\Debug\mkl_vml_avx.2.dll 
x64\Debug\mkl_vml_avx2.2.dll 
x64\Debug\mkl_vml_avx512.2.dll 
x64\Debug\mkl_vml_mc.2.dll 
x64\Debug\mkl_vml_mc3.2.dll 
x64\Debug\opencv_core3d.dll 
x64\Debug\opencv_imgproc3d.dll 
x64\Debug\Qt5Cored.dll 
x64\Debug\Qt5Guid.dll 
x64\Debug\Qt5Widgetsd.dll 
x64\Debug\Scene.lib 
x64\Debug\Scene.pdb 
x64\Debug\TestBase.pdb 
x64\Debug\TestEstimator.exe 
x64\Debug\TestEstimator.pdb 
x64\Debug\TestFeature.exe 
x64\Debug\TestFeature.pdb 
x64\Debug\TestGeometry.exe 
x64\Debug\TestGeometry.pdb 
x64\Debug\TestScene.exe 
x64\Debug\TestScene.pdb 
x64\Debug\TestUI.exe 
x64\Debug\TestUI.ilk 
x64\Debug\TestUI.pdb 
x64\Debug\TestWorkflow.exe 
x64\Debug\TestWorkflow.pdb 
x64\Debug\UI.lib 
x64\Debug\UI.pdb 
x64\Debug\Workflow.lib 
x64\Release\Base.lib 
x64\Release\Estimator.lib 
x64\Release\Estimator.pdb 
x64\Release\Feature.lib 
x64\Release\Feature.pdb 
x64\Release\Geometry.lib 
x64\Release\Geometry.pdb 
x64\Release\mkl_avx.2.dll 
x64\Release\mkl_avx2.2.dll 
x64\Release\mkl_avx512.2.dll 
x64\Release\mkl_core.2.dll 
x64\Release\mkl_def.2.dll 
x64\Release\mkl_intel_thread.2.dll 
x64\Release\mkl_mc.2.dll 
x64\Release\mkl_mc3.2.dll 
x64\Release\mkl_pgi_thread.2.dll 
x64\Release\mkl_rt.2.dll 
x64\Release\mkl_sequential.2.dll 
x64\Release\mkl_sycl.3.dll 
x64\Release\mkl_sycld.3.dll 
x64\Release\mkl_tbb_thread.2.dll 
x64\Release\mkl_tbb_threadd.2.dll 
x64\Release\mkl_vml_avx.2.dll 
x64\Release\mkl_vml_avx2.2.dll 
x64\Release\mkl_vml_avx512.2.dll 
x64\Release\mkl_vml_mc.2.dll 
x64\Release\mkl_vml_mc3.2.dll 
x64\Release\opencv_core3.dll 
x64\Release\Scene.lib 
x64\Release\Scene.pdb 
x64\Release\SIFT_GPU.lib 
x64\Release\TestBase.pdb 
x64\Release\TestEstimator.pdb 
x64\Release\TestScene.pdb 
x64\Release\TestWorkflow.pdb 
x64\Release\Workflow.lib 
